.navbar {
    position: fixed; 
    width: 100%; 
    transition: background-color 0.3s ease, box-shadow 0.3s ease; 
    z-index: 1000; 
}

.navbar-brand {
    font-size: 2rem;
    font-weight: bold; 
    color: white; 
}

.nav-link {
    color: #ffffff; 
    margin-right: 20px; 
    transition: color 0.3s ease; 
}

.nav-link:hover {
    color: #ffdd57; 
}

.nav-item {
    font-size: 1.6rem;
    margin: 0 10px; 
}

.navbar-nav {
    margin-left: auto; 
}

.nav-item:last-child .nav-link {
    margin-right: 0; 
}

.navbar.scrolled {
    background-color: rgba(255, 255, 255, 0.3); 
    backdrop-filter: blur(10px); 
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}

.navbar.scrolled .navbar-brand,
.navbar.scrolled .nav-link {
    color: #000000; 
}


